@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
$backgroundColor: #2C2A2A;
$primaryColor: #3B3636;
$secondaryColor: #6b6363;
$highlightColor: #D9BEA5;
$textColor: #FFFFFF;
$textFont: "Oswald", sans-serif;