@import "./reset";

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewport {
    width: 95%;
    height: 95%;
    border: 5px black solid;
    display: flex;
    flex-direction: column;
}
.viewport__playspace {
    border: 2px black solid;
    height: 35%;
    width: auto;
    display: flex;
    justify-content: center;
}
.viewport__playerHand {
    border: 2px blue solid;
    height: 45%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.viewport__Ui {
    border: 2px blue solid;
    height: 10%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .card {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    border-radius: 3px;
    overflow: hidden;
    height: 100%;
}
.viewport__button {
    height: 100%;
    width: 100%;
    &--halfButton {
        width:50%
    }
    &--shortButton {
        height: 10%;
    }
}
.viewport__inputs {
    height:30%;
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
.viewport__playerMonsterContainer {
    height:70%;
    width: 100%;
    border: 1px green solid;
    display: flex;
    justify-content: center;

}
.viewport__health {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

